* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 避免触摸屏拖拽的情况 */
body {
    overflow: hidden;
}



#canvas {
    display: block;
}

.color{
    position: absolute;
    right: 0px;
    top: 0px;
}

.color>div{
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
}

.black{
    background: #000;
}
.red{
    background: red;
}
.green{
    background: green;
}
