* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 避免触摸屏拖拽的情况 */
body {
    overflow: hidden;
}



#canvas {
    display: block;
}

.color{
    position: absolute;
    right: 0px;
    top: 0px;
}

.color>div{
    float: right;
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 4px;
}

.black{
    background: #000;
}
.red{
    background: red;
}
.green{
    background: green;
}
.lineWidth{
    position: absolute;
    right: 0px;
    top: 30px;
    width: 100px;
}
.strong,
.middle,
.slide{
    width: 80px;
    margin: 10px;
}
.strong{
    border-bottom: 20px solid #000;
}
.middle{
    border-bottom: 10px solid #000;
}
.slide{
    border-bottom: 5px solid #000;
}
